:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("/public/kirb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(247, 220, 211);
  max-width: 49%;
  border: 6px solid;
  border-color: rgb(247, 226, 202);
  text-align: center;
  margin: 1.8rem;
  margin-left: 4rem;
  margin-top: 3rem;
}
#submit {
  margin: 0.4rem;
  font-family: 'Roboto Mono', monospace;
  padding: 0.4rem;
}
#priceInput {
  margin: 2rem;
}
#budgetInput {
  margin: 2rem;
}