:root {
  background-image: url("/public/melody.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(182, 93, 93);
}
body {
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(253, 230, 230);
  max-width: 49%;
  border: 6px solid;
  border-color: rgb(255, 255, 255);
  text-align: center;
  margin: 1.8rem;
  margin-left: 25%;
  margin-top: 3rem;
}
#submit {
  margin: 0.4rem;
  font-family: 'Roboto Mono', monospace;
  padding: 0.4rem;
}
#priceInput {
  margin: 2rem;
}
#budgetInput {
  margin: 2rem;
}
